body {
	font-family: Verdana, Helvetica, sans-serif;
	margin:0;
}


.navbar
{
	overflow: hidden;
	background-color: grey;
}

.navbar a 
{
	font-size: 20px;
	text-decoration: none;
	text-align:center;
	color: #000;
	float:left;
	padding: 14px 16px;
}

.navbar a.active
{
	background-color:#333;
	color:red;
}

.navbar a:hover
{
	background-color:#ddd;
	color:green;
}

.typewriter h1 {
	padding:15px;
  overflow: hidden; 
  white-space: nowrap;
  letter-spacing: .15em; 
  margin:0;
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}


@keyframes typing {
  from { width: 0% }
  to { width: 50% }
}


@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

button {
  background-color: grey;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  display:inline-block;
  margin-left: auto;
  margin-right: auto;
}

button span {
  cursor: pointer;
  position: relative;
  transition: 0.5s;
}

button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

button:hover span {
  padding-right: 25px;
}

button:hover span:after {
  opacity: 1;
  right: 0;
}

.column {
  float: left;
  width: 66%;
}

.formColumn {
  width: 30%;
  float: right;
}

.background {
  padding: 15px;
  background-color: whitesmoke;
}

.tablez {
  border-collapse: collapse;
  width: 100%;
  text-align: left;
}

h4 {
  text-align: center;
}

th {
  border-bottom: 1px solid #ddd;
}

.space {
  margin-bottom: 20px;
}

input[type=text]:focus {
  background-color: lightblue;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
}

.submit{
  background: green;
  border-color: transparent;
  font-size: 12px;
  color: white;
  height: 50px;
  font-weight: bolder;
  letter-spacing: 3px;
  margin-top: 20px;
}

.submit:hover{
  cursor: pointer;
}

.xbutton {
	background-color: red;
	font-size: 25px;
	color: white;
	width: 30px;
	height: 30px;
}
	
}


